body {
    background-color: teal;
}

#startBox {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCtk2jqGhUjTr067vwXWGrFY3R4EmkyzU8FAbpP-ZDTkV5ElpG4w")
}


#StartPage {
    
    border: 1px green;
    width: 90%;
    height: 400px;
    text-align: center;
}